.drinks-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
  }
  
  .drinks-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  